<% content_for :title, "About" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="text-center">
            <h3 class="text-bold">About EngSoc Dash</h3>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="container container-xs reader-block">
            <p>
              The Queen's EngSoc Dash is a student-lead initative to modernize and revitalize the modern tools that are accessible for use by Queen's students.
            </p>
            <p>
              The idea was initially conceived in order to replace the outdated EngSoc Apply system, and to eventually serve as the one stop hub for all things related to EngSoc.
            </p>
            <p>
              The Dash is an ambitious <a href="https://github.com/RobertWSaunders/engsoc-dash/wiki/Project-Proposal">project</a> that requires your support to become a reality. Contact your EngSoc council to show support for further expansion of the project.
            </p>
          </div>
        </div>
        <div class="card-body p-xl mt-lg">
          <hr>
          <%= render "shared/slack" %>
        </div>
      </div>
    </div>
  </div>
</div>
