<% content_for :title, "Contact" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="text-center pb-lg">
            <h3 class="text-bold">About EngSoc Dash</h3>
          </div>
        </div>
        <div class="card-body text-center">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro soluta repellendus sit ad voluptates quisquam laudantium alias quia quidem modi corporis delectus cumque voluptate, distinctio sint possimus fuga deleniti blanditiis!
        </div>
        <%= render "shared/slack" %>
      </div>
    </div>
  </div>
</div>
