<% content_for :title, "Contact" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="text-center">
            <h3 class="text-bold">About EngSoc Dash</h3>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="container container-xs reader-block">
            <p>
              The Queen's EngSoc Dash is a student-lead initative to modernize and revitalize the modern tools that are accessible for use by Queen's students.
            </p>
            <p>
              The idea was initially conceived in order to replace the outdated EngSoc Apply system, and to eventually serve as the one stop hub for all things related to EngSoc.
            </p>
          </div>
        </div>
        <%= render "shared/slack" %>
      </div>
    </div>
  </div>
</div>
