<% content_for :title, "About" %>

<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <h4 class="m0 text-thin">Welcome to the EngSoc Dashboard</h4>
      <small>Take control of your society experience.</small>
    </div>
    <div class="col-sm-3 text-right hidden-xs">
      <button type="button" class="mt-sm btn btn-labeled btn-default ripple">Apps<span class="btn-label btn-label-right"><i class="ion-plus-round"></i></span></button>
    </div>
  </div>
</div>
