<% content_for :title, "Contact" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="text-center pb-lg">
            <h3 class="text-bold">Contact</h3>
            <p>
              The best and quickest way to reach the right people is through the <a href="https://join.slack.com/t/engsoc-dash/signup?x=x-223666223958-222892608962">Slack channel</a>.
              <br>These are the channels or people you want to reach out to for support based on your needs.
            </p>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-sm-6">
              <div class="card b">
                <div class="card-body text-center bg-info">
                  <h3 class="mv-lg"><a href="https://engsoc-dash.slack.com/messages/support/" style="color: inherit;">#support</a></span></h3>
                </div>
                <div class="card-body text-center">
                  <p class="mb-lg"><span>Admin Functionalities</span></p>
                  <p class="mb-lg"><span>System Down</span></p>
                  <p class="mb-lg"><span></span></p>
                </div>
                <div class="card-body text-center bt"><a href="" class="btn btn-default btn-flat" class="contact-link">#support</a></div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card b">
                <div class="card-body text-center bb bg-deep-purple-500">
                  <h3 class="mv-lg"><a href="https://engsoc-dash.slack.com/messages/general/" style="color: inherit;" class="contact-link">#general</a></span></h3>
                </div>
                <div class="card-body text-center">
                  <p class="mb-lg"><span>General Discussions</span></p>
                  <p class="mb-lg"><span>Advertising Positions</span></p>
                  <p class="mb-lg"><span>Reporting Bugs</span></p>
                </div>
                <div class="card-body text-center bt"><a href="" class="btn btn-default btn-flat">#general</a></div>
              </div>
            </div>
          </div>
          <div class="row mt-xl">
            <p>If you aren't able to access reach us at the above methods, you can send us an email at <a href="">email@engsoc.queensu.ca</a>,
              <br /> but it is highly recommended that you reach us through Slack.</p>
          </div>
        </div>
        <div class="card-body p-xl mt-lg">
          <hr>
          <%= render "shared/slack" %>
        </div>
      </div>
    </div>
  </div>
</div>
