<% content_for :title, "Contact" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="text-center pb-lg">
            <h3 class="text-bold">Contact Us</h3>
            <p>
              The best and quickest way to reach the right people is through our <a href="https://join.slack.com/t/engsoc-dash/signup?x=x-223666223958-222892608962">Slack channel</a>.
              <br>These are the channels or people you want to reach out to for support based on your needs.
            </p>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="row">
            <div class="col-sm-4">
                <div class="card b">
                  <div class="card-body text-center bb bg-pink-300 text-white">
                    <div class="text-bold">ADMIN</div>
                  <h3 class="mv-lg"><span class="text-lg"><a href="" style="color: inherit;">#director-of-hr</a></span></h3>
                  </div>
                  <div class="card-body text-center">
                    <p class="mb-lg"><span>Creating a New Organization</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Not ready for resale</span></p>
                  </div>
                  <div class="card-body text-center bt"><a href="" class="btn btn-default btn-flat">Go Now</a></div>
                </div>
              </div>
              <!-- PLAN-->
              <div class="col-sm-4">
                <div class="card b">
                  <div class="card-body text-center bg-info">
                    <div class="text-bold">SUPPORT</div>
                    <h3 class="mv-lg"><a href="https://engsoc-dash.slack.com/messages/support/" style="color: inherit;">#support</a></span></h3>
                  </div>
                  <div class="card-body text-center">
                    <p class="mb-lg"><span>Unlimited Styles</span></p>
                    <p class="mb-lg"><span>RTL &amp; Translation</span></p>
                    <p class="mb-lg"><span>Customer support</span></p>
                    <p class="mb-lg"><span>Free Updates</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Not ready for resale</span></p>
                  </div>
                  <div class="card-body text-center bt"><a href="" class="btn btn-info btn-raised">BEST OPTION</a></div>
                </div>
              </div>
              <!-- PLAN-->
              <div class="col-sm-4">
                <div class="card b">
                  <div class="card-body text-center bb bg-deep-purple-500">
                    <div class="text-bold">GENERAL</div>
                    <h3 class="mv-lg"><a href="https://engsoc-dash.slack.com/messages/general/" style="color: inherit;">#general</a></span></h3>
                  </div>
                  <div class="card-body text-center">
                    <p class="mb-lg"><span>General Discussions</span></p>
                    <p class="mb-lg"><span>Discovering New Channels</span></p>
                    <p class="mb-lg"><span>Finding Friends</span></p>
                    <p class="mb-lg"><span>Sharing a Job Posting</span></p>
                    <p class="mb-lg"><span>Limited to one client</span></p>
                    <p class="mb-lg"><span>Multiple installation</span></p>
                    <p class="mb-lg"><span>Ready for resale*</span></p>
                  </div>
                  <div class="card-body text-center bt"><a href="" class="btn btn-default btn-flat">SELECT THIS PLAN</a></div>
                </div>
              </div>
          </div>
        </div>
        <%= render "shared/slack" %>
      </div>
    </div>
  </div>
</div>
