<% content_for :title, "Development" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-heading">
          <div class="text-center">
            <h3 class="text-bold">Development</h3>
          </div>
        </div>
        <div class="card-body text-center">
          <div class="container container-xs reader-block">
            <h4 class="text-bold">Release Notes</h4>
            <p>
              The current version is 1.0.0.
              <br> View the <a href="/changes">full change log</a>.
            </p>
          </div>
          <div class="container container-xs reader-block">
            <h4 class="text-bold">Contribute</h4>
            <p>
              The EngSoc Dash is open source under the <a href="https://en.wikipedia.org/wiki/MIT_License">MIT License</a>, and is publicly hosted on <a href="https://github.com/RobertWSaunders/engsoc-dash">Github</a>.
            </p>
            <p>
              If you want to get involved, you can! Simply open a pull-request. You can <a href="https://engsoc-dash.slack.com/messages/@peter/">contact</a> the lead developer for more information, or read the introductory <a href="https://github.com/RobertWSaunders/engsoc-dash/wiki/Developer-Guide">developer guide</a>.
            </p>
          </div>
          <div class="container container-xs reader-block">
            <h4 class="text-bold">Credit</h4>
            <p>
              The Dash was originally conceived and created by Robert Saunders and Peter Ju during their undergraduate studies at Queen's.
            </p>
            <p>
              The project was first publicly demoed during the last EngSoc council of the 2016 - 17 academic year, with much appreciated support from the incoming directors. The project could not have gotten this far without their support.
            </p>
          </div>
        </div>
        <div class="card-body p-xl mt-lg">
          <hr>
          <%= render "shared/slack" %>
        </div>
      </div>
    </div>
  </div>
</div>
