<hr>
<div class="" id="">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <p class="lead">Have any questions about the platform?
    <br>Join the Engsoc Dash Slack channel!
    <br>
    <br><small>The easiest way to reach us for support, or for anything else Engsoc related.
    <br>All you need is your queensu email.</small>
  </p>
  <a href="https://join.slack.com/t/engsoc-dash/signup"><i class="fa fa-slack fa-fw" aria-hidden="true"></i> Engsoc Dash Slack</a>
</div>
<br>
<small><i>Please do not reply to this email, only robots can see it.</i></small>
