<hr>
<small>
<div class="" id="">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <p class="lead">Have any questions about the platform?
    <br>Join the <%= link_to "https://join.slack.com/t/engsoc-dash/signup" do %><i class="fa fa-slack fa-fw" aria-hidden="true"></i> Engsoc Dash Slack</a><% end %>!
    <br>
    <br><small>The easiest way to reach us for support, or for anything else Engsoc related.</small>
  </p>
</div>
<br>
  <i><%= link_to "EngSoc", "https://engsoc.queensu.ca/" %> | <%= link_to "Unsubscribe", profile_settings_url(@user) %></i>
</small>
