<% if @job.users.any? %>
  <% @job.users.each do |user| %>
    <div class="table-responsive ml mr">
      <table class="table table-hover">
        <tbody>
          <%= render user %>
        </tbody>
      </table>
    </div>
  <% end %>
<% else %>
  <div class="alert alert-warning ml mr">
    This position has no employment history and is currently vacant.
  </div>
<% end %>

<% if @job.positions.any? %>
  <div class="table-responsive ml mr">
    <table class="table table-hover">
      <tbody>
        <% @job.positions.each do |pos| %>
          <%= render pos %>
        <% end %>
      </tbody>
    </table>
  </div>

<% else %>

  <div class="alert alert-warning ml mr">
    This position has no employment history and is currently vacant.
  </div>

<% end %>
