<!-- page title -->
<% content_for :title, "Edit Job" %>

<!-- page content -->
<div class="container-fluid container-lg">
  <div class="card">
    <div class="card-body">
      <!-- render the job form -->
      <%= render 'job_form' %>
    </div>
  </div>
</div>
