<% content_for :title, "New Job" %>

  <div class="container-fluid container-lg">
    <div class="card">
      <div class="card-body">
        <%= render 'job_form' %>
      </div>
    </div>
  </div>
