<div class="table-responsive mh">
  <table class="table table-hover">
    <h4><%= @user.first_name %>'s Positions</h4>
    <tbody>
      <% @user.positions.each do |pos| %>
        <%= render "positions", :pos => pos %>
      <% end %>
    </tbody>
  </table>
</div>
