<tr>
  <td><%= link_to user.first_name + " " + user.last_name , profile_path(user.id) %></td>
  <td>Currently Holding Position</td>
  <td>

  </td>
  <td>

  </td>
</tr>

<tr>
  <td>Richard Hum</td>
  <td>March 26th, 2016</td>
  <td>March 26th, 2017</td>
  <td>r.hum@queensu.ca</td>
</tr>

<tr>
  <td>Eric McCleroy</td>
  <td>March 26th, 2015</td>
  <td>March 26th, 2016</td>
  <td>e.mccleroy@queensu.ca</td>
</tr>
