<div class="pull-right dropdown">
  <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>
  <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
    <li>
      <%= link_to "Edit User", edit_profile_path(user.id) %>
    </li>
    
  </ul>
</div>
