<% content_for :title, "Manage Users" %>

<!-- main container for job postings -->
<div class="container-fluid container-lg">
  <div class="card">
    <div class="card-body">
      <ul class="list-group">
        <% if @users.count == 0 %><br /><br />
          <p class="lead text-center">There are currently no organizations.</p>
        <% else %>
          <% @users.each do |user| %>
            <%= render 'user_list_item', user: user, dropdown: true %>
          <% end %>
        <% end %>
      </ul>
      <center>
        <!-- show the paginator for the will_paginate gem -->
        <%= will_paginate @users, renderer: BootstrapPagination::Rails, page_links: false %><br />
      </center>
    </div>
  </div>
</div>
