<% content_for :title, "Settings" %>

<div class="container container-lg">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="card">
        <div class="card-heading">
          <h4 class="text-bold">
            Email Notifications</h4>
        </div>
        <div class="card-body">
          <%= form_for @user, url: profile_path(@user), :html => {:class => 'form-horizontal'} do |f| %>
            <fieldset class="last-child">
              <div class="form-group">
                <%= f.label "Enable", class: "col-sm-2 control-label" %>
                <div class="col-sm-10">
                  <%= f.check_box :email_notifications, class:"checkbox-inline c-checkbox" %>
                </div>
              </div>
            </fieldset>

            <%= f.submit "Save", class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
