
  <div class="pull-right dropdown">
    <%= status_label_application(application) %>

    <button type="button" data-toggle="dropdown" class="btn btn-default btn-flat btn-flat-icon"><em class="ion-android-more-vertical"></em></button>

  </div>
