<% if applications.any? %>
<div class="card">
  <div class="card-body">
    <div class="table-responsive ml mr">
        <% if applications.first.archived == true %>
          <h4>Archived Applications</h4>
        <% else %>
          <h4><%= applications.first.status.titleize %> Applications</h4>
        <% end %>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-1">
              APP. ID
            </th>
            <th class="col-md-3">
              SUBMITTED BY <abbr title="Hover to show submission time"><em class="ion-help-circled icon-fw"></em></abbr>
            </th>
            <th class="col-md-3">
              STATUS
            </th>
            <% if can? :manage, JobApplication %>
            <th>
              ACTIONS
            </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render applications %>
        </tbody>
      </table>
      <p>
        Total:
        <% if applications.first.archived == true %>
          <strong><%= applications.count %> Archived Applications</strong>
        <% else %>
          <strong><%= pluralize applications.count, applications.first.status.titleize + " Application" %></strong>
        <% end %>
      </p>
    </div>
  </div>
</div>
<% end %>