<% content_for :title, "Job Application" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">
    <h3>
      <%= link_to @job_application.job_posting.title, @job_posting %>
    </h3>
    <p>
      Please finalize your job application below.
    </p>
    <div class="card">
      <div class="card-body">
        <p>
          Once this form is submitted, it cannot be re-editted. You may continue this application at any time if you do not choose to submit, but your application will not be considered until it is submitted.
        </p>

        <% if @job_posting_answers.any? %>
          <ol>
          <% @job_posting_answers.each do |answer| %>
            <% qu = JobPostingQuestion.where(id: @job_posting_answers.index(answer) + 1).first %>
            <li>
              <p><strong><%= qu.content %></strong></p>
              <p><%= answer.content %></p>
            </li>
          <% end %>
          </ol>
        <% end %>

        <%= render 'job_application_form' %>
      </div>
    </div>
  </div>
</div>