<% content_for :title, @job_posting.title + " Job Applications" %>

  <div class="container-fluid container-lg">
    <div class="card">
      <div class="card-body">
        
        <%= render "job_applications_table"%>

      </div>
    </div>
  </div>
