<% content_for :title, "My Job Applications" %>

<div class="container-fluid container-md">
  <div class="container-fluid container-md">
    <h3>My Job Applications</h3>
    <div class="card">
      <div class="card-body">
        <% if @user_job_applications.any? %>
          <ul>
            <% @user_job_applications.each do |app| %>
              <li>
                <%= app.job_posting.title %> 
                <br>
                <%= app.status %>
                <br>
                <%= app.id %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>