<div class="text-center p-xl" id="slack-info">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <p class="lead">Join the Engsoc Dash Slack channel!
    <br><small><span class="text-muted">It's the easiest way to reach us for support, or for anything else Engsoc related.
    <br>All you need is your queensu email.</span></small>
  </p>
  <a type="button" class="btn btn-lg btn-warning" href="https://join.slack.com/t/engsoc-dash/signup?x=x-223666223958-222892608962"><i class="fa fa-slack fa-fw" aria-hidden="true"></i> Engsoc Dash Slack</a>
</div>
