<% content_for :title, "Dashboard" %>

<!-- page header -->
<div class="content-heading bg-white">
  <div class="row">
    <div class="col-sm-9">
      <h4 class="m0 text-thin">Welcome to your dashboard</h4><small>The central place for Engineering Society stuff</small>
    </div>
  </div>
</div>
<h1>test</h1>
