<p id="notice"><%= notice %></p>

<h1>Job Posting Answers</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Job application</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

    <%= @job_posting.title %>


<br>

<%= link_to 'New Job Posting Answer', new_job_posting_answer_path %>
