<% content_for :title, "Answer Job Posting Questions" %>
  <div class="container-fluid container-lg">


    <div class="card">
      <div class="card-body">
        <p class="lead">  <%= link_to @job_posting.title, @job_posting %></p>
        <hr />
        <p>
          Please answer the questions below:
        </p>
        <br />
        <%= render 'job_posting_answer_form', job_posting_answer: @job_posting_answer %>

      </div>
    </div>

  </div>
</div>
