<% content_for :title, "Edit Job Posting" %>

<div class="container-fluid container-lg">
  <div class="card">
    <div class="card-body">
      <%= render 'job_posting_form' %>
    </div>
  </div>
</div>
