<!-- define title for the page -->
<% content_for :title, "Job Postings" %>

<!-- show tabs for admins -->
<% if can? :manage, JobPosting %>
  <div style="background-color:white;">
    <ul id="myTabs" role="tablist" class="nav nav-tabs nav-justified">
      <li role="presentation" class="active">
        <a id="home-tab" href="#home" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">General</a>
      </li>
      <li role="presentation">
        <a id="profile-tab" href="#profile" role="tab" data-toggle="tab" aria-controls="profile">Admin</a>
      </li>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div id="home" role="tabpanel" aria-labelledby="home-tab" class="tab-pane fade in active">
      <%= render "general_index" %>
    </div>
    <div id="profile" role="tabpanel" aria-labelledby="profile-tab" class="tab-pane fade">
      <%= render "admin_index" %>
    </div>
  </div>
<% else %>
  <%= render "general_index" %>
<% end %>
