<% content_for :title, "Manage Job Postings" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">
    <div class="card">
      <div class="card-body">
        <h3 class="lead">Managed Job Postings</h3>
        <ul class="list-group">
          <% @managed_postings.each do |posting| %>
            <%= render 'job_postings/job_posting_list_item', posting: posting, dropdown: true %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>