<% content_for :title, "New Job Posting" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">
    <h5>Create a New Job Posting</h5>
    <div class="card">
      <div class="card-body">
        <%= render 'job_posting_form' %>
      </div>
    </div>
  </div>
</div>
