<!-- page title -->
<% content_for :title, "New Job Posting" %>

<!-- page content -->
<div class="container-fluid container-lg">
  <div class="card">
    <div class="card-body">
      <!-- render the job posting form -->
      <%= render 'job_posting_form' %>
    </div>
  </div>
</div>
