<% content_for :title, "Select Vacant Job" %>


  <div class="container-fluid container-lg">

    <div class="card">
        <% if @vacant_jobs %>
          <table class="table table-fixed va-middle">
            <tbody>
          <% @vacant_jobs.each do |job| %>
              <tr class="msg-display">
                <td class="text-ellipsis"><%= link_to job.title, job %></td>
                <td class="text-ellipsis"><%= job.organization.name %></td>
                <td class="text-ellipsis"><%= job.description %></td>
                <td class="text-ellipsis">
                  <%= link_to "Select", new_job_posting_path(:job_id => job.id), class: "align-center btn btn btn-primary" %>
                </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <% else %>
          <p class="text-center">No Vacant Jobs</p>
        <% end %>
    </div>
  </div>
