<% content_for :title, "Select/Create Vacant Job" %>

  <!-- create job button -->
  <div class="container container-fluid">
    <div class="mb-lg text-right">
        <%= link_to "Create New Job", new_job_posting_path, class: "btn btn-primary" %>
    </div>

  <div class="container-fluid container-md">
    <h5>Select a vacant Job</h5>
    <div class="card">
      <div class="card-body">
        <% if @vacant_jobs %>
          <ul class="list-group">
          <% @vacant_jobs.each do |job| %>
            <li class="list-group-item">
              <h4><%= job.title %><br>
                <small><%= job.organization.name %></small>
              </h4>
              <%= link_to "Select", new_job_job_posting_path(:job_id => job.id), class: "btn btn-primary" %>
            </li>
          <% end %>
          </ul>
        <% else %>
          <p class="text-center">No vacant jobs</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
