footer {
  a {
    text-decoration: none !important;
    color: #ba68c8;
    &:hover {
      color: #7b1fa2;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 30px;
    }
  }
}

abbr[title] {
  text-decoration: none;
}

.bg-yellow-100 {
  background-color: #fff9c4;
}

.bg-pink-300 {
  background-color: #f06292;
}

.mda-form-control > input ~ label, .mda-form-control > textarea ~ label, .mda-form-control > select ~ label {
  font-size: 1.1em;
  opacity: 0.7;
  font-weight: 400;
}
