$engsoc-purple: #9575CD;
$engsoc-purple-s1: #9F82D2;
$engsoc-purple-lighter: #D4C7EB;
$engsoc-purple-light: #BFACE1;
$engsoc-purple-darker: #7A4ACD;

footer {
  a {
    text-decoration: none !important;
    color: $engsoc-purple;
    &:hover {
      color: $engsoc-purple-s1;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 30px;
    }
  }
}

a {
  color: $engsoc-purple;
  &:hover {
    color: $engsoc-purple-s1;
  }
  &:active {
    color: $engsoc-purple-s1;
  }
  &:focus {
    color: $engsoc-purple-s1;
  }
}

abbr[title] {
  text-decoration: none;
}

.bg-yellow-100 {
  background-color: #fff9c4;
}

.bg-pink-300 {
  background-color: #f06292;
}

.mda-form-control > input ~ label, .mda-form-control > textarea ~ label, .mda-form-control > select ~ label {
  font-size: 1.1em;
  opacity: 0.7;
  font-weight: 400;
}

// used as backgrounds
.engsoc-purple {
  background-color: $engsoc-purple;
}
.engsoc-purple-light{
  background-color: $engsoc-purple-light;
}
.engsoc-purple-lighter{
  background-color: $engsoc-purple-lighter;
}

// overwrite primary buttons
.btn-primary {
  background-color: $engsoc-purple;
  border-color: $engsoc-purple;
  &:hover {
    background-color: $engsoc-purple-s1;
    border-color: $engsoc-purple-s1;
  }
  &:active {
    background-color: $engsoc-purple;
    border-color: $engsoc-purple;
  }
  &:focus {
    background-color: $engsoc-purple;
    border-color: $engsoc-purple;
  }
  &:active:focus {
    background-color: $engsoc-purple;
    border-color: $engsoc-purple;
  }
}
.btn-flat.btn-primary {
  background-color: white;
  color: $engsoc-purple;
  &:hover {
    background-color: $engsoc-purple;
    color: white;
  }
  &:active {
    color: white;
  }
  &:focus {
    color: white;
  }
  &:disabled {
    color: $engsoc-purple;
  }
}
.contact-link:hover {
  text-decoration: none;
}

.theme-6 .layout-container > header {
  background-color: $engsoc-purple-s1;
}


// jobpostinganswer styles
textarea.jpa-textarea {
  font-size: 14px;
  line-height: 3em;
  font-weight: 300;
}
label.jpa-label {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.4;
  margin-bottom: 20px;
}

.yellow-bg {
  // bg-yellow-500 = #ffeb3b
  background-color: #fff59d;
}

.fit-50 {
  height: 50%;
  line-height: 0.7; // half of normal button line-height
}
