<% if @organization.jobs.any? %>
  <div class="table-responsive ml mr">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="col-sm-2"><!-- Title --></th>
          <th class="col-sm-2"><!-- Name --></th>
          <th class="col-sm-3"><!-- Email --></th>
          <th class="col-sm-2"></th>
          <th class="col-sm-1"></th>
          <th class="col-sm-2"><!-- Actions --></th>
        </tr>
      </thead>
      <tbody>
        <% @organization.jobs.each do |job| %>
          <%# displays all active positions as well as jobs with job postings %>
          <%= render "active_positions", :job => job %>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-warning ml mr">
    There are currently no jobs in this organization.
  </div>
<% end %>
