<h3>Positions</h3>
<% if @organization.jobs.any? %>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>
            Title
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Manager
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @jobs %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="alert alert-warning">
    There are currently no jobs in this organization.
  </div>
<% end %>