<!-- page title -->
<% content_for :title, "Admin Organizations" %>

<!-- create organization button -->
<div class="container container-fluid">
  <div class="mb-lg text-right">
      <%= link_to "Create Organization", new_organization_path, class: "btn btn-primary" %>
  </div>

  <!-- main container for organizations -->
  <div class="container-fluid container-md">

    <!-- organizations waiting approval -->
    <div class="card">
      <div class="card-body">
        <h3 class="lead">Waiting Approval</h3>
        <ul class="list-group">
          <% if @approval_organizations.any? %>
              <% @approval_organizations.each do |organization| %>
                  <%= render 'organization_list_item', organization: organization, dropdown: true %>
              <% end %>
          <% else %>
              <p class="text-center">No Organizations Waiting Approval</p>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- active organizations -->
    <div class="card">
      <div class="card-body">
        <h3 class="lead">Active Organizations</h3>
        <ul class="list-group">
          <% if @active_organizations.any? %>
            <% @active_organizations.each do |organization| %>
              <%= render 'organization_list_item', organization: organization, dropdown: true %>
            <% end %>
          <% else %>
            <p class="text-center">No Active Organizations</p>
          <% end %>
        </ul>
      </div>
    </div>

    <!-- archived organizations -->
    <div class="card">
      <div class="card-body">
        <h3 class="lead">Archived Organizations</h3>
        <ul class="list-group">
          <% if @archived_organizations.any? %>
            <% @archived_organizations.each do |organization| %>
              <%= render 'organization_list_item', organization: organization, dropdown: true %>
            <% end %>
          <% else %>
            <p class="text-center">No Archived Organizations</p>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>
