<!-- show tabs for admins -->
<% if can? :create, JobPosting %>
  <div style="background-color:white;">
    <ul id="myTabs" role="tablist" class="nav nav-tabs nav-justified">
      <li role="presentation" class="active">
        <a id="general-tab" href="#general" role="tab" data-toggle="tab" aria-controls="general" aria-expanded="true">General</a>
      </li>
      <% if can? :manage, JobPosting %>
        <li role="presentation">
          <a id="admin-tab" href="#admin" role="tab" data-toggle="tab" aria-controls="admin">Admin</a>
        </li>
      <% end %>
    </ul>
  </div>
  <div id="myTabContent" class="tab-content">
    <div id="general" role="tabpanel" aria-labelledby="general-tab" class="tab-pane fade in active">
      <%= render "general_index" %>
    </div>
    <% if can? :manage, JobPosting %>
      <div id="admin" role="tabpanel" aria-labelledby="admin-tab" class="tab-pane fade">
        <%= render "admin_index" %>
      </div>
    <% end %>
  </div>
<% else %>
  <%= render "general_index" %>
<% end %>
