<% content_for :title, "All Organizations" %>

<!-- container for the page -->
<div class="container container-fluid">

  <!-- add search bar -->
  <div class="mb-lg">
    <form role="form">
      <div class="mda-form-control">
        <input type="text" placeholder="Search Organization Title, Department, etc..." class="form-control input-lg">
      </div>
    </form>
  </div>

  <!-- main container for job postings -->
  <div class="container-fluid container-md">
    <div class="card">
      <div class="card-body">
        <ul class="list-group">
          <% if @organizations.count == 0 %><br /><br />
            <p class="lead text-center">There are currently no organizations.</p>
          <% else %>
            <% @organizations.each do |organization| %>
              <%= render 'organization_list_item', organization: organization, dropdown: false %>
            <% end %>
          <% end %>
        </ul>
        <center>
          <!-- show the paginator for the will_paginate gem -->
          <%= will_paginate @organizations, renderer: BootstrapPagination::Rails, page_links: false %><br />
        </center>
      </div>
    </div>
  </div>
</div>
