<% content_for :title, "Manage Organizations" %>

<div class="container container-fluid">
  <div class="mb-lg text-right">
      <%= link_to "Create Organization", new_organization_path, class: "btn btn-primary" %>
  </div>
<!-- main container for job postings -->
  <div class="container-fluid container-md">
    <div class="card">
      <div class="card-body">
        <h3 class="lead">Waiting Approval</h3>
        <ul class="list-group">

        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="lead">Active Organizations</h3>
        <ul class="list-group">

        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h3 class="lead">Archived Organizations</h3>
        <ul class="list-group">

        </ul>
      </div>
    </div>



  </div>
</div>
