<!-- page title -->
<% content_for :title, "Create Organization" %>

<!-- page container -->
<div class="container-fluid container-lg">
  <div class="card">
    <div class="card-body">
      <%= render 'organization_form' %>
    </div>
  </div>
</div>
