<% content_for :title, "New Organization" %>

<div class="container container-fluid">

  <div class="container-fluid container-md">
    <h5>Create an Organization</h5>
    <div class="card">
      <div class="card-body">
        <%= render 'organization_form' %>
      </div>
    </div>
  </div>
</div>
