<!-- page title -->
<% content_for :title, @organization.name %>

<div class="container container-lg">
  <div class="card">
    <div class="card-body">
      <!-- render the dropdown -->
      <%= render 'organization_list_item_dropdown', organization: @organization, status: false, role: false %>
      <p class="lead">Organization Overview</p>
      <p>
        <%= @organization.description %>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <%= render 'organization_list_item_dropdown', organization: @organization, status: false, role: false %>
      <p class="lead">Jobs</p>
      <div class="row" id="jobs">
          <%= render "jobs_table" %>
      </div>
    </div>
  </div>

</div>
