<% content_for :title, "My Organizations" %>

<!-- container for the page -->
<div class="container container-fluid">

  <!-- add search bar -->
  <div class="mb-lg">
    <form role="form">
      <div class="mda-form-control">
        <input type="text" placeholder="Search Organization Title, Department, etc..." class="form-control input-lg">
      </div>
    </form>
  </div>

  <!-- main container for job postings -->
  <div class="container-fluid container-md">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <% if !current_user.organizations.any? %><br /><br />
              <p class="lead text-center">You are not a part of any organizations.</p>
            <% else %>
              <!-- iterate through all of user's orgs -->
              <% current_user.organizations.each do |organization| %>
                <%= render 'organization_list_item', organization: organization, status: false, role: true %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>

      </div>
    </div>
