<footer>
  <span><script>document.write(new Date().getFullYear())</script> - <%= link_to "Engineering Society Dashboard", root_path %></span>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Develop", develop_path %></li>
  </ul>
</footer>
