<footer>
  <span><script>document.write(new Date().getFullYear())</script> - Engineering Society Dashboard</span>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
    <li><%= link_to "Credits", credits_path %></li>
  </ul>
</footer>